<h1>
Create AD User
</h1>


{% if message %}

<p style="color: {% if success %}green{% else %}red{% endif %};">
{{message}}
</p>

{% endif %}



<form method="POST">

{% csrf_token %}


<input
name="username"
placeholder="Username">


<input
name="first_name"
placeholder="First name">



<input
name="last_name"
placeholder="Last name">



<input
name="password"
placeholder="Password"
type="password">

<select name="role">
    <option value="Admin">Admin</option>
    <option value="Manager">Manager</option>
    <option value="Employee">Employee</option>
</select>


<button>
Create User
</button>


</form>
